.navbar-brand {
  padding-top: 0;
  padding-left: 10%;
}

.navbar {
  position: fixed;
  margin-bottom: 0;
  width: 100%;
}

.navbar-right {
  padding-right: 10%;
}

.jumbotron {
  background-color: black;
  color: grey;
  text-align: center;
  font-family: "Arial Black", Gadget, sans-serif;
  margin-left: 10%;
  margin-right: 10%;
}

.bg-1-home {
  opacity: 0.4;
  background-image: url("../images/mountains.JPG");
  background-position: center;
  background-size: cover;
  height: 40em;
  background-repeat: no-repeat;
}

@media screen and (min-width: 350px) and (max-width: 760px){
  .bg-1-home {
    opacity: 0.4;
    background-image: url("../images/mountains.JPG");
    background-position: center;
    background-size: cover;
    height: 20em;
    background-repeat: no-repeat;
  }
  .bg-1-other {
    opacity: 0.4;
    background-image: url("../images/background-1.jpg");
    background-size: cover;
    height: 2em;
    background-position: center;
    background-repeat:repeat;
  }
  .nav-logo {
    height: 3em;
    width: auto;
  }
  .in-background-text {
    text-align: center;
    position: relative;
    top: 1em;
    margin-top: -8em;
  }
}

.bg-1-other {
  opacity: 0.4;
  background-image: url("../images/background-1.jpg");
  height: 20em;
  background-position: center;
  background-repeat:repeat;
}

.bg-2 {
  padding-bottom: 5%;
}

.bg-3 {
  background-color: #1a1a1a;
  padding-top: 5%;
  padding-bottom: 5%;
}

.mySlides {
  display:none
}

.w3-left, .w3-right, .w3-badge {
  cursor:pointer
}

.w3-badge {
  height:13px;width:13px;padding:0
}

.gunRow {
  text-align: center;
  height: 200px;
}

.in-background-text {
  text-align: center;
  position: relative;
  bottom: 15em;
  margin-top: -8em;
}

body {
  font-family: ‘Courier New’, Courier, monospace;
}

iframe {
  pointer-events: none;
}

.centered {
  text-align: center;
}

.break {
  height: 2em;
}
