.navbar-brand {
  padding-top: 0;
  padding-left: 10%;
}

.navbar {
  position: fixed;
  margin-bottom: 0;
  width: 100%;
}

.navbar-right {
  padding-right: 10%;
}

.jumbotron {
  background-color: black;
  color: grey;
  text-align: center;
  font-family: "Arial Black", Gadget, sans-serif;
  margin-left: 10%;
  margin-right: 10%;
}

.bg-1 {
  background-image: url("../images/background-1.jpg");
  background-position: center;
  padding-top: 5%;
}

.bg-2 {
  background-color: white;
  padding-top: 10%;
  padding-bottom: 10%;
}

.bg-3 {
  background-color: black;
  padding-top: 10%;
  padding-bottom: 10%;
}

.mySlides {
  display:none
}

.w3-left, .w3-right, .w3-badge {
  cursor:pointer
}

.w3-badge {
  height:13px;width:13px;padding:0
}

.gunRow {
  text-align: center;
  height: 200px;
}
